@import './variables';

body {
  margin: 0;
  background: $bg-page;
  color: #f9f9f9;
  // font-family: "Euclid Circular A", "Poppins";
}

* {
  box-sizing: border-box;
}

main {
  padding: 10px 30px;
}
